body {
	font-family: Arial, Helvetica, sans-serif;
	color: #48484a;
	background-color: #f4f1de;
}

h1 {
	font-size: 50px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 10px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	margin: 0;
	margin-left: 2px;
	padding: 0;
	line-height: 16px;
}

li:first-letter {
	text-transform: capitalize;
}

a {
	color: #f2cc8f;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ec6e4c;
	font-weight: 100px;
}

small a {
	color: #ec6e4c;
	font-weight: bold;
}

small a:hover {
	text-decoration: underline;
}

.weather-widget {
	padding: 30px;
	border: 3px solid #f2cc8f;
	border-radius: 10px;
	background-color: #81b29a;
}

.widget-wrapper {
	max-width: 600px;
	margin: 50px auto;
}

.current-overview {
	margin-top: 20px;
}

.active {
	color: #48484a;
	cursor: default;
	text-decoration: none;
}

.active:hover {
	text-decoration: none;
	color: #48484a;
}

.code-info {
	margin-left: 32px;
	font-size: 12px;
}

.units {
	position: relative;
	font-size: 13px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 16px;
	top: -33px;
}

.weather-forecast {
	margin-top: 20px;
	text-align: center;
}

.forecast-day {
	font-size: 16px;
}

#search-form {
	margin-bottom: 35px;
}

#search-button {
	margin-top: 4px;
	background-color: #f2cc8f;
}

#current-overview {
	margin-bottom: 15px;
}

#current-weather-icon {
	width: 80px;
	position: relative;
	top: -10px;
	left: -9px;
}

#current-temperature {
	font-size: 60px;
	line-height: 1;
	font-weight: 500;
}

#current-info {
	margin-top: 25px;
}
